.article-list {
    font-family: 'ubuntu';
    overflow-y: scroll;
}

.article-header {
    font-size: 2em;
    text-align: left;
    margin-left: 10%;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.articles {
    list-style-type: none;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%
}

#sort-by-filter{
padding-left: 10%;
padding-right: 10%;
padding-bottom: 10px;
}
