.comment-list {
    list-style-type: none;
    background-color: rgb(223, 223, 223);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'ubuntu';
}

h2 {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'ubuntu'
}