#fullheader {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
    font-family: 'ubuntu';
    filter: drop-shadow(0px 10px 10px #00000057);
    z-index: 1;
}

header {
    text-align: right;
    margin-top: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-right: 50px;
    margin-top: 20px;
}

.tagline {
        font-style: italic;
        margin-top:0;
        margin-left: 10px;
        margin-right: 50px;
        margin-bottom: 5px;
        padding-bottom: 20px;
}

a {
    color: black;
}

nav {
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;;
}

.nav-button{
    font-family: 'ubuntu';
    font-weight: bold;
    background-color: white;
    color: black;
    text-transform: capitalize;
    font-size: 18px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-button:hover{
    color: black;
    background-color: rgb(223, 223, 223);
}

.nav-button:visited{
    color: black;
}

.nav-button:active{
    color: black;
}