
body {
    font-family: 'ubuntu';
    margin: 0;
    ::-webkit-scrollbar {
        display: none;
    }
    background-color: #E9D8D8
}

button {
    border: 0;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    align-self: stretch;
    background-color: #E9D8D8;
}

button:hover {
    background-color: #B47978;
}

button:disabled {
    background-color: #B47978;
}

a {
    color: #E9D8D8;
    text-decoration: none;
}

hr.rounded {
    margin: 5%;
    border-top: 3px solid black;
}

footer {
    text-align: center;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-color: #732A3F;
    color: white;
}

h2 {
    margin-left: 0;
    font-size: 2em;
    margin-bottom: 0;
}


/* Header */

#fullheader {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #732A3F;
    color: white;
    font-family: 'ubuntu';
    filter: drop-shadow(0px 10px 10px #00000057);
    z-index: 1;
}

header{
    text-align: right;
    margin-right: 5%;
}

#site-title {
    font-size: 3em;
    margin-bottom: 0;
}

#site-tagline {
    margin-top: 0;
    font-style: italic;
}


#navigation {
    display: flex;
    justify-content: space-around;
}

.nav-button{
    font-family: 'ubuntu';
    font-weight: bold;
    background-color: #732A3F;
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 1%;
    margin: 50;
}

.nav-button:hover{
    background-color: #B47978;
}

/* Main container for content */

#main-container {
    padding-top: 190px;
    margin-left: 10%;
    margin-right: 10%;
 }

.article-surround {
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1em;
    border-radius: 1em;
}

/* Article list */
 
#articles-header {
    padding-bottom: 20px;
    text-transform: capitalize;
}

.articles {
    list-style-type: none;
    padding: 0;
}

#sort-by-filter{
font-family: 'ubuntu';
padding-bottom: 3%;
}

/* Article cards */

.article-card {
    font-family: 'ubuntu';
    background-color: white;
    padding: 2em;
    align-items: top;
    justify-items: start;
    border-radius: 3%;
    filter: drop-shadow(0px 10px 10px #00000057);
}

.article-title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.article-topic {
    text-transform: capitalize;
    padding-left: 0;
    font-weight: bold;
}

.single-topic {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 1em;
    text-transform: capitalize;
    font-weight: bold;
    border: 0px;
    background-color: #732A3F;
    color: white;
}

.article-author {
    font-weight: bold;
}

.article-date {
    font-style: italic;
}

.article-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3%;
    display: flex;
    justify-self: right;
}

.article-comments {
    font-weight: bold;
}

.single-topic {
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1em;
}

.vote-comment-count {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/* Article pages */

.blurb {
    font-weight:bold;
    text-align: justify;
}

.body-text {
    text-align: justify;
}

#main-image {
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
}

/* Vote counter */

.vote-instructions{
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.vote-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

.vote-counter {
    font-weight: bold;
}

#vote-button {
    max-width: 3em;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Enter comments */

.comment-text {
    outline: #E9D8D8 solid 0.2em;
    min-width: 100%;
    max-width: 100%;
    min-height: 4em;
    max-height: 20em;
    height: 10em;
}

label {
    font-weight: bold;
}

textarea {
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'ubuntu';
    margin-top: 5px;
}

/* Show comments */

.comments-number-and-button {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.comments-count {
    width: 150%;
}

/* Display comments */

.comment-list {
    padding-left: 0.5em;
    padding-right: 0.5em;
    list-style-type: none;
    outline: #E9D8D8 solid 0.2em;
    border-radius: 1em;
}

.comment-details {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-size: 18px;
    font-weight: bold;
}

.comment-date {
    font-style: italic;
}

.comment-body{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.comment-buttons {
    display: flex;
    justify-content:space-between;
}