article {
    font-family: 'ubuntu';
    padding-left: 10%;
    padding-right: 10%;
    width: 80%
}

.body-text {
    padding-bottom: 30px;
}

h2 {
    margin-left: 0;
    font-size: 2em;
    margin-bottom: 0;
}

#main-image {
    display: block;
    padding-left: auto;
    padding-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 10;
    max-height: 10;
    border-radius: 1em;
    object-fit: cover;
    object-position: center;
}

.single-topic {
    text-transform: capitalize;
    font-weight: bold;
    border: 0px;
    background-color: #732A3F;
    color: white;
    width: 50px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 40px;
}

#comments {
    font-family: 'ubuntu';
    padding-left: 10%;
    padding-right: 10%;
    margin: 30px;
}

.big-button {
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'ubuntu';
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
    background-color: #732A3F
}

.big-button:hover {
    background-color: #B47978
}

#comment-adder{
    border-radius: 10px;
    padding: 30px;
    background-color: #B47978;
}

#show-button-container{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#show-button {
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'ubuntu';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: #732A3F;
}

#show-button:hover{
    background-color: #B47978
}
