
#votes {
    text-align: center;
    font-family: 'ubuntu';
    padding-left: 13%;
    padding-right: 10%;
    width: 80% 
}

#vote-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.vote-instructions{
    margin-top: 50px;
    font-weight: bold;
}

.vote-counter-container {
    width: 60px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
}

.vote-button {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #B47978;
}

.vote-button:hover {
    background-color: #732A3F;
}

.vote-button:disabled {
    background-color: #732A3F;
}